{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Face Expression</title>  <!-- Title of the webpage -->
    <!-- Link to the specific CSS file hosted on S3 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Replace with your actual S3 bucket URL -->
  </head>
  <body>

  <!-- Display the processed image, dynamically replaced with the actual image URL -->
  <img style="border: 5px solid black;" src="{{ processed_image_url }}" alt="Processed image">  <!-- Replace with the actual URL of the processed image -->

  <br>
  <form action="{% url 'project_landing_page' %}">  <!-- Form to handle navigation back to the project (no Django URL tag) -->
    <button type="submit" class="button-73" id="goBack">BACK</button>  <!-- Button to go back -->
  </form>

  </body>
</html>
