/* For Desktop/Laptop Screen (1920X1080) */
body {
  background-image: url('../images/bg_img.png'); /* Set background image */
  background-size: cover !important; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat !important; /* Prevent background image from repeating */
  background-attachment: fixed; /* Keep the background fixed during scrolling */
  background-position: center center !important; /* Center the background image */
}

.top-right {
  position: absolute; /* Position relative to container */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  padding: 10px; /* Padding for the top-right element */
}

.container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

/* Flexbox to align buttons horizontally and center vertically */
.button-wrapper {
  display: flex; /* Use flexbox for button layout */
  gap: 10px; /* Space between buttons */
}

.button-73 {
  margin-top: 3%; /* Space from the top */
  appearance: none; /* Remove default styling */
  background-color: #FFFFFF; /* White background */
  border-radius: 40em; /* Rounded corners */
  border-style: none; /* No border */
  width: 350px; /* Fixed width */
  height: 50px; /* Fixed height */
  color: #000000; /* Black text */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Display as inline-block */
  font-family: "Comic Sans", "Courier New", monospace; /* Font style */
  font-size: 1.1rem; /* Font size */
  font-weight: 700; /* Bold text */
  letter-spacing: -.24px; /* Slight letter spacing */
  outline: none; /* Remove outline */
  padding: 1rem; /* Inner padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove text decoration */
  transition: all .15s; /* Smooth transition */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Prevent text selection in WebKit browsers */
  touch-action: manipulation; /* Touch action for manipulation */
}

.button-73:hover {
  background-color: #FF9997; /* Change background on hover */
  box-shadow: #FF6314 0 -6px 8px inset; /* Inner shadow on hover */
  transform: scale(1.02); /* Slightly enlarge button on hover */
}

.button-73:active {
  transform: scale(1.02); /* Keep enlarged on active */
  background-color: #FF9997; /* Change background on active */
  box-shadow: #FF6314 0 -6px 8px inset; /* Inner shadow on active */
}

input[type="file"] {
  display: none; /* Hide file input */
}
